/* header */
.bar {
    background-color: #f7941e;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    margin-top: 20px;
    top: 30px;
    margin-left: 225px;
}

/* barra di navigazione */

.navigation { /* div per la barra di navigazione */
    position: sticky;
    top: 0;
    margin-top: 155px;
    margin-left: 230px;
    margin-right: 235px;
    z-index: 1000;
}

.nav-bar { /* <nav> */
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #f7941e;
    display: flex;
    z-index: 1000;
    padding: 2px 3px 0 3px;
    /* font quando possibile */
}

.navigation .nav-bar > ul {
    list-style: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.navigation .nav-bar li {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.nav-bar li:hover {
    background-color: #f7941e;
}

.navigation .dropdown { /* menu a tendina */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    display: none;
    z-index: 1000;
}

.navigation .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    border-bottom: 1px solid black;
    display: flex;
    height: 30px;
    width: 290px;
    align-items: center;
    padding: 0 10px;
}

.dropdown li:hover{
    background-color: #f7941e;
    color: white;
}

.navigation .nav-bar li:hover  > .dropdown,
.navigation .nav-bar li:focus-within > .dropdown {
    display: block;
}

/* main article */
.flex-box { /* per affiancare le div*/
    display: flex;
    gap: 24px;
    margin-left: 235px;
    margin-top: 20px;
}

.main-article-title {
    margin-top: 0;
}


/* events */
.events {
    flex: 1;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
}

.divider { /* linee grigie*/
    flex:1;
    max-width:87px;
    height:2px;
    background:#9b9b9b;
}

.events-title {
    margin: 0;
    font-size: 26px;
    border: 3px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7931e;
    font-family: "Montserrat", sans-serif;
}

.main-event-title {
    margin-top: 0;
}

