/* header */
.bar {
    background-color: #f7941e;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    margin-top: 20px;
    top: 30px;
    margin-left: 225px;
}

.logo:hover {
    cursor: pointer;
}

/* barra di navigazione */

.navigation { /* div per la barra di navigazione */
    position: sticky;
    top: 0;
    margin-top: 155px;
    margin-left: 230px;
    margin-right: 235px;
    z-index: 1000;
}

.nav-bar { /* <nav> */
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #f7941e;
    display: flex;
    z-index: 1000;
    padding: 2px 3px 0 3px;
    /* TODO font quando possibile */
}

.navigation .nav-bar > ul {
    list-style: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.navigation .nav-bar li {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.nav-bar li:hover {
    background-color: #f7941e;
}

.navigation .dropdown { /* menu a tendina */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    display: none;
    z-index: 1000;
}

.navigation .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    border-bottom: 1px solid black;
    display: flex;
    height: 30px;
    width: 290px;
    align-items: center;
    padding: 0 10px;
}

.dropdown li:hover{
    background-color: #f7941e;
    color: white;
}

.navigation .nav-bar li:hover  > .dropdown,
.navigation .nav-bar li:focus-within > .dropdown {
    display: block;
}

/* main article */

.flex-box { /* per affiancare le div*/
    display: flex;
    gap: 24px;
    margin-left: 235px;
    margin-top: 20px;
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.main-article-title {
    margin: 0;
    font-size: 30px;
    width: 100%;
}

.main-article-title:hover {
    color: #f7941e;
    cursor: pointer;
}

.article-summary{
    margin: 5px 5px 5px 0;
}

.article-info{
    margin: 5px 5px 5px 0;
}

/* events */

.events {
    flex: 1;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
}

.divider { /* linee grigie*/
    flex:1;
    max-width:87px;
    height:2px;
    background:#9b9b9b;
}

.events-title {
    margin: 0;
    font-size: 26px;
    border: 3px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7931e;
    font-family: "Montserrat", sans-serif;
}

.events-title:hover {
    color: black;
    cursor: pointer;
}

.title-style {
    margin: 0;
    max-width: 318px;
}

.title-style:hover {
    color: #f7941e;
    cursor: pointer;
}

.event-location {
    margin: 6px 0 6px 0;
    font-size: 14px;
}

.event-info {
    margin: 6px 0 6px 0;
    font-size: 14px;
}

.events-navigation {
    margin-right: 250px;
}

.event-nav {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.event-nav > ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 10px 0 0 0;
    padding: 0 0 3px 0;
    justify-content: center;
    width: 100%;
}

.event-nav li {
    display: flex;
    color: #999;
    font-size: 17px;
    padding: 0 10px 0 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

.event-nav li:hover {
    color: #f7941e;
    cursor: pointer;
}

.right-bar {
    border-right: 1px solid #ccc;
}

.activities-filter-navigation {
    margin-right: 250px;
}

.activities-filter {
    display: flex;
    margin:0;
    padding: 0;
}

.activities-filter ul {
    list-style: none;
    display: flex;
    gap: 22px;
    margin: 7px 0 0 0;
    padding: 0;
    width: 100%;
}

.activities-filter li {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat, Helvetica, sans-serif;
    padding: 5px 3px 5px 3px;
    user-select: none;
}

.activities-filter li:hover {
    background-color: #f7941e;
    color: white;
    cursor: pointer;
}

.activities-filter li.active {
    background-color: #f7941e;
    color: white;
}

/* liste di selettori in base all'attività selezionata */

.selectors-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.selectors-list select {
    width: 325px;
    height: 40px;
    border: 1px solid #ccc;
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 16px;
}

.selectors-list option {
    padding: 30px;
}

.selectors-list input {
    width: 252px;
    height: 40px;
    border: 1px solid #ccc;
    margin: 3px 0 3px 0;
}

.selectors-list input::placeholder {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

.go-button {
    height: 43px;
    width: 65px;
    background: white;
    border: 1px solid #ccc;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 0 10px 0;
}

.go-button:hover {
    background-color: #f7941e;
    color: white;
    cursor: pointer;
}

.panel {
    display:none;
    padding:16px 0;
}

.panel.active {
    display:block;
}

.or-divider-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.or-divider { /* linee grigie*/
    flex:1;
    max-width:135px;
    height:1px;
    background:#ccc;
    margin:0;
    padding:0;
}

.movies-or-divider-text{
    font-weight: 200;
    color: #9b9b9b;
    margin: 0;
}

/* featured articles */

.featured { /* modifica del comportamento di flex-box per adattarsi alle immagini */
    gap: 10px;
    margin-top: 35px;
}

.medium-article p{
    max-width: 318px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 0;
}

.orange-text-on-hover:hover {
    cursor: pointer;
}

.orange-text-on-hover:hover .orange-text {
    color: #f7941e;
}

/* the latest */

.article-grid {
    margin: 50px 0 0 235px;
}

.article-grid-title {
    margin: 0;
    font-size: 26px;
    border: 3px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7931e;
    font-family: "Montserrat", sans-serif;
}

.grid-divider {
    max-width: 395px;
}

.grid-layout {
    margin: 0 245px 0 235px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
}

.grid-title {
    line-height: 1.2;
}

.grid-layout p {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 0;
}